
.card {
  display: flex;
  background: fixed;
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0 50px 10px 50px;
  border-radius: 15px;
  width: 255px;
  margin-top: 10%;
  margin-left: 35%;
  height: 400px;
  cursor: pointer;
  justify-content: center;
 
}




.header {
  display: block;
  padding: 0 0 10px 0;
  font-size: 12px;
  margin: 190px 250px 10px 0;
  margin-bottom: 190px;
  justify-content: center;
}

