* {
    background-color: rgb(255, 225, 0);
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
    width: 320px;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    left: 30%;
    top: 20%;
    transition: 0.5s;
    animation: ease-in-out;
    
  }
  
  .card-container:hover{
       transform: scale(1.1);
       box-shadow: 0 0 15px 0;
  }


  .image-container {
   overflow: hidden;
   height: 200px;
   margin: 15px 15px 15px 15px;
   border-radius: 5%;
  }


  .card-title {
    background-color: rgb(255, 225, 0);
    padding: 0 10px 0 0;
    display: inline-block;
    
  }

  .card-body{
    background-color: rgb(255, 255, 255);
  }

  .card-content {
    background-color: rgb(255, 255, 255);
    margin: 1rem;
    margin-top: 0.5rem;
}

h1 {
    background-color: rgb(255, 255, 255);
    font-size: 20px;
}

p {
    background-color: rgb(255, 255, 255);
    font-size: 10px;
}

.avatar {
    display: flex;
    background:none;
   
}

.avatar img{
    background: none;
}

h4 {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    margin-left: 1rem;

}


@media screen and (max-width:769px) {
    .card-container {
        display: block;
        justify-content: center;
        top: 13%;
    
    }
}

@media screen and (max-width:769px) {
    
}